# ignore all wav files in all subdirs
*.wav

# ignore audio files in the processing dirs
./corpus/chv/speakers/chuvash_news/audio/proc/*.flac
./corpus/chv/speakers/chuvash_news/audio/split/*.flac
./corpus/chv/speakers/chuvash_news/audio/proc/*.txt
./corpus/chv/speakers/chuvash_news/audio/split/*.txt
